{% extends "base.html" %}

{% block content %}
<div class="pcoded-content">
      <div class="pcoded-inner-content">
          <div class="main-body">
              <div class="page-wrapper">
                  <div class="page-body">
                      <div class="row">
                          <div class="tool-box">
                            <div class="action-type" draggable="true" data-order="0" data-type="flight"
                                 data-toggle="tooltip" title="Select your flight" data-nb-inputs="1" data-nb-outputs="1">
                              <span class="tool-item pcoded-micon">
                                <i class="fa fa-plane c-2" >
                                </i>
                              </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="1" data-type="hotel"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-hotel c-3" aria-hidden="true"
                                  data-toggle="tooltip" title="Select your hotel"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="6" data-type="cars"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-car c-1" aria-hidden="true"
                                  data-toggle="tooltip" title="Select your cab"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="1" data-type="approve"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa fa-check-square-o c-4" aria-hidden="true"
                                  data-toggle="tooltip" title="Approval"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="1" data-type="ticket"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon" >
                                  <i class="fa fa-ticket c-5" aria-hidden="true"
                                  data-toggle="tooltip" title="Ticketing"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="1" data-type="file"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-file-o c-6" aria-hidden="true"
                                  data-toggle="tooltip" title="Upload your receipts"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="1" data-type="money"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-money c-7" aria-hidden="true"
                                  data-toggle="tooltip" title="Finance review"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="2" data-type="close"
                            data-nb-inputs="1" data-nb-outputs="0">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-hand-paper-o c-8" aria-hidden="true"
                                  data-toggle="tooltip" title="Close"></i>
                                </span>
                            </div>
                            <div class="action-type" draggable="true" data-order="4" data-type="wifi"
                            data-nb-inputs="1" data-nb-outputs="0">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-wifi" aria-hidden="true"
                                  data-toggle="tooltip" title="Add wifi"></i>
                                </span>
                            </div>

                            <div class="action-type" draggable="true" data-order="5" data-type="cutlery"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-cutlery"
                                  data-toggle="tooltip" title="Add extra food"></i>
                                </span>
                            </div>

                              <div class="action-type" draggable="true" data-order="4" data-type="visa"
                              data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-file-text" aria-hidden="true"
                                  data-toggle="tooltip" title="Apply visa"></i>
                                </span>
                            </div>
                            <div class="tool_delete delete_selected_button" draggable="true"
                            data-nb-inputs="1" data-nb-outputs="1">
                                <span class="tool-item pcoded-micon">
                                  <i class="fa fa-trash-o c-9"
                                  data-toggle="tooltip" title="Delete selected item"></i>
                                </span>
                            </div>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-9 col-md-18 draw-board">
                            <div class="draw-board-inner" id="example">
                            </div>
                          </div>
                          <div class="col-xl-3 col-md-18 price-board">
                            <div class="draw-board-inner" >
                                <div class="col-md-12 col-sm-12 m-t-25 m-d-25">
                                    <h3>Your Itinerary</h3>
                                </div>
                                <div class="col-md-12 col-sm-12  m-t-25 m-d-25">
                               <h3 style="color : green ">  David Friderici </h3>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <ul class="price_list">
                                        <li class="row card-box">
                                            <span class="itemName item">Flight</span>
                                            <span class="price m-l-20">€ 288</span>
                                        </li>
                                        <li class="row card-box">
                                            <span class="itemName item">Hotel</span>
                                            <span class="price m-l-20">€ 509</span>
                                        </li>
                                        <li class="row card-box">
                                            <span class="itemName item">Cars &nbsp</span>
                                            <span class="price m-l-20">€ 00</span>
                                        </li>

                                        <li class="row card-box total-price" style="background-color:#7ace7a; color:white;">
                                            <span class="itemName item" style=" color:white;">Total:</span>
                                            <span class="price m-l-20" style="color:white;">€797</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!--<div id="styleSelector">-->
              <!--</div>-->
          </div>
      </div>
</div>
{% endblock %}
{% block extra_js %}
  <script>
  {% if workflow %}
      var workflow = {{workflow | safe}};
      var approved = {% if workflow.status %} 1 {% else %} 0 {% endif %};
  {% else %}
      var workflow = 'None';
      var approved = 0;
  {% endif %}
  </script>
{% endblock %}
