﻿{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <!--<link rel="icon" href="{% static "images\IBS.png" %}" type="image/x-icon">-->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->

    <link rel="stylesheet" type="text/css" href="{% static "files\bootstrap\css\bootstrap.min.css" %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\icon\feather\css\feather.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\icon\font-awesome\css\font-awesome.min.css" %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\css\style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\sweetalert\css\sweetalert.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\css\jquery.mCustomScrollbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css\dams.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\jquery-flowchart\jquery.flowchart.css" %}">
    <link rel="stylesheet"type="text/css" href="{% static "files\nvd3\css\nv.d3.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\bootstrap-multiselect\css\bootstrap-multiselect.css" %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

    {% block extra_style %}
    {% endblock %}
</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>

<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="index-1.htm">
                        <img class="img-fluid" style="max-width: 61%;" src="{% static "logo.jpeg" %}" alt="Logo">

                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="feather icon-maximize full-screen"></i>
                            </a>
                        </li>

                    </ul>

                    <ul class="nav-right">
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="feather icon-bell"></i>
                                    <span class="badge bg-c-pink">1</span>
                                </div>
                                <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="{% static "images\avatar.png" %}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                {% if user.is_authenticated %}
                                                <h5 class="notification-user">{{ request.user.get_username }}</h5>
                                                {% else %}
                                                <h5 class="notification-user">User</h5>
                                                {% endif %}
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="{% static "images\avatar.png" %}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="{% static "images\avatar.png" %}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static "images\avatar.png" %}" class="img-radius" alt="User-Profile-Image">
                                    {% if user.is_authenticated %}
                                    <span>{{ request.user.get_username | title}}</span>
                                    {% else %}
                                    <span>User</span>
                                    {% endif %}

                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="#!">
                                            <i class="feather icon-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-profile.html">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="auth-normal-sign-in.html">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                {% block sidenavbar %}
                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel">Home</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu pcoded-trigger">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                    <span class="pcoded-mtext">Requests</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li {%if active_class == 'create-schema' %} class="active" {% endif %}>
                                    <a href="/" class="add-schema-btn">
                                        <span class="pcoded-mtext">Create Request</span>  <span ><i class="feather icon-plus-square"></i></span>
                                    </a>
                                    </li>
                                    <li {%if active_class == 'create-flow' %} class="active" {% endif %}>
                                    <a href="/order-list/">
                                        <span class="pcoded-mtext">My Requests</span>  <span ><i class="feather icon-check-circle"></i></span>
                                    </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <div class="pcoded-navigatio-lavel">My Space</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class=" ">
                                <a href="#">
                                    <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                    <span class="pcoded-mtext">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% endblock %}
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- including model window html --->
{% include "model_popup.html" %}

<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="{% static "files/assets/images/browser/chrome.png" %}" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="{% static "files/assets/images/browser/firefox.png" %}" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="{% static "files/assets/images/browser/opera.png" %}" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="{% static "files/assets/images/browser/safari.png" %}" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="{% static "files/assets/images/browser/ie.png" %}" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->






<script type="text/javascript" src="{% static "files\jquery\js\jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\jquery-ui\js\jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "files\popper.js\js\popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\bootstrap\js\bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "files\jquery-slimscroll\js\jquery.slimscroll.js" %}">
</script>

    <script type="text/javascript" src="{% static "files\modernizr\js\modernizr.js" %}"></script>
<script type="text/javascript" src="{% static "files\chart.js\js\Chart.js" %}"></script>

    <script src="{% static "files\d3\js\d3.js"  %}"></script>
<script src="{% static "files\nvd3\js\nv.d3.js"  %}"></script>
    <script src="{% static "files\assets\pages\chart\nv-chart\js\stream_layers.js"  %}"></script>

<script src="{% static "files\assets\pages\widget\amchart\amcharts.js" %}"></script>
    <script src="{% static "files\assets\pages\widget\amchart\serial.js" %}"></script>
<script src="{% static "files\assets\pages\widget\amchart\light.js" %}"></script>
    <script src="{% static "files\assets\js\jquery.mCustomScrollbar.concat.min.js" %}"></script>
<script type="text/javascript" src="{% static "files\assets\js\SmoothScroll.js" %}"></script>
    <script src="{% static "files\assets\js\pcoded.min.js" %}"></script>
<script src="{% static "files\assets\js\vartical-layout.min.js" %}"></script>
    <script src="{% static "files\bootstrap-multiselect\js\bootstrap-multiselect.js" %}"></script>
<script type="text/javascript" src="{% static "files\assets\pages\dashboard\custom-dashboard.js" %}"></script>
    <script type="text/javascript" src="{% static "files\assets\js\script.min.js" %}"></script>
<script type="text/javascript" src="{% static "files\jquery-flowchart\jquery.flowchart.js" %}"></script>
    <script type="text/javascript" src="{% static "files\sweetalert\js\sweetalert.min.js" %}"></script>

<script type="text/javascript" src="{% static "files\assets\pages\chart\nvd3\chart-nvd3.js" %}">></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


{% block extra_js %}
{% endblock %}


<script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function() {
                    return $('#primary-popover-content').html();
                }
            });
        });
$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});
        function ShowModal (){
				swal({
					title: "Hello There ?",
					text: "You got a Free Perk to Extend the Trip to a pleasure one during the Weekend ! Travel Dates 24-26 , Pleasure added to 27,28 Hotel Stay with no cost" ,
					type: "warning",
					showCancelButton: true,
					confirmButtonClass: "btn-danger",
					confirmButtonText: "Yes, Go For it!",
					cancelButtonText: "No, Not this time!",
					closeOnConfirm: false,
					closeOnCancel: false
				},
				function(isConfirm) {
					if (isConfirm) {
						swal("Congrats!", "Your Itinerary has been Upgraded as Bleisure travel.", "success");
					} else {
						swal("Cancelled", "OK, This will still count for the Perk)", "error");
					}
				});
				}

    </script>

</body>

</html>
