{% load static %}
<div class="row">
      {% for car in cars %}
          <div class="col-xl-6 col-md-12">
                <div class="card user-card-full {% if 'selected' in car %} selected {% endif %}">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-5 bg-c-blue user-profile " style="background:url({{car.Images.1.Href}})">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="card-block">
                                <h5  class="m-b-20 p-b-5 b-b-default f-w-600">{{car.VehicleDetails.Make}}</h5>
                                <div class="row">
                                        <div class="col-sm-12">
                                            <p class="m-b-10 f-w-600"> {{car.Supplier.Name}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                            <p class="m-b-10 f-w-600"> {{car.VehicleDetails.Capacity.LargeLuggageCount}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <p class="m-b-10 f-w-600"> {{car.VehicleDetails.Capacity.AdultCount}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                           <button class="btn btn-primary">
                                               {% if 'selected' in car %} selected {% else %}
                                                    select
                                               {% endif %}
                                           </button>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
          </div>
    {% endfor %}
  </div>