
<div class="col-xl-12 col-md-12">
     <div class="card user-card-full ">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-3 user-profile">
                <div class="card-block text-center text-white">
                    <div class="m-b-25">
                        <img src="/static/images/logo-sun.png">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-block flight-route">
                    <div class="row">
                        <div class="col-sm-3 leg1">
                            <h6 class="f-w-600 ">AYT</h6>
                            <span class="time">07:10</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="duration">01h 10m</span>
                            <ul class="leg-info"></ul>
                            <img src="/static/images/download.svg" class="flight-img">
                        </div>
                        <div class="col-sm-3 leg1">
                            <h6 class=" f-w-600 ">FRA</h6>
                            <span class="time">08:20</span>
                        </div>
                    </div>
                </div>

                <div class="card-block flight-route">
                    <div class="row">
                        <div class="col-sm-3 leg1">
                            <h6 class="f-w-600 ">FRA</h6>
                            <span class="time">11:35</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="duration">02h 25m</span>
                            <ul class="leg-info"></ul>
                            <img src="/static/images/download.svg" class="flight-img">
                        </div>
                        <div class="col-sm-3 leg1">
                            <h6 class=" f-w-600 ">AYT</h6>
                            <span class="time">14:00</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-5 divider">
                <div class="row">
                    <div class="col-sm-8">
                        <ul class="ancillaries">

                             <li><i class="ext-seat m-r-10" style="color :red; background:url('/static/images/ext-seat.svg')"></i></li>
                                                <li><i class="fa fa-suitcase  m-r-10" style="color:green;" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-tablet m-r-10" style="color:green;" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-television m-r-10"  style="color:green;"aria-hidden="true"></i></li>
                                                <li><i class="fa fa-wifi m-r-10" style="color:green;" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="price">
                            <p class="m-b-10 f-w-600">Price 267.988 €</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-12 col-md-12">
     <div class="card user-card-full ">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-blue user-profile" style="background:url(https://d2xf5gjipzd8cd.cloudfront.net/available/330851624/rmca.jpg)">
                <div class="card-block text-center text-white">
                    <div class="m-b-25">
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card-block">
                    <h6 class="m-b-20 p-b-5  f-w-600">Sheraton Frankfurt Airport Hotel and Conference Center</h6>

                    <div class="row">
                        <div class="col-sm-6">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                        <div class="row">
                        <div class="col-sm-12">
                            <p class="m-b-10 f-w-600">Based on 11208 reviews</p>
                        </div>
                        </div>


                </div>
            </div>

            <div class="col-sm-3">
                <div class="price">
                    <p class="m-b-10 f-w-600 ">Price 509 €</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-12 col-md-12">
     <div class="card user-card-full ">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-12">
                <div class="price">
                    <p class="m-b-10 f-w-600 ">Total 797 €</p>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary pull-right">
    Verified
</button>

