﻿{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <h4 class="m-b-20">Travel Manager DashBoard</h4>
                    <div class="row">


                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-c-yellow text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5">Trips This Month</p>
                                            <h4 class="m-b-0">852</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="feather icon-award f-50 text-c-yellow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-c-green text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5">Spend</p>
                                            <h4 class="m-b-0">$5,852</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="feather icon-credit-card f-50 text-c-green"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-c-pink text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5">On Progress</p>
                                            <h4 class="m-b-0">42</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="feather icon-book f-50 text-c-pink"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-c-blue text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5">Savings Projected</p>
                                            <h4 class="m-b-0">$1,242</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="feather icon-shopping-cart f-50 text-c-blue"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- statustic-card start -->
                        <!-- ticket and update start -->
                        <div class="col-xl-12 col-md-12">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Trips in Action</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-borderless">
                                            <thead>
                                                <tr >

                                                    <th>Employee ID</th>
                                                    <th>Employee Name</th>
                                                    <th>Trip Subject </th>
                                                    <th>Date</th>
                                                    <th>Country</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>A-29029 </td>
                                                    <td>Mohsin Ahamed Basheer</td>
                                                    <td>IATA hackathon Spain</td>
                                                    <td>28-June-2019</td>
                                                    <td>SPAIN</td>
                                                    <td><label class="label label-primary "disabled""><a href="/workflow/OpenB/" class="disabled">
                                                                On trip </a></label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-19018 </td>
                                                    <td>Anoop P S</td>
                                                    <td>IATA hackathon Spain</td>
                                                    <td>28-June-2019</td>
                                                    <td>SPAIN</td>
                                                    <td><label class="label label-primary"><a href="/workflow/OpenB/">
                                                                On trip </a></label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-19822 </td>
                                                    <td>Vineesh Vijayan</td>
                                                    <td>IATA hackathon Spain</td>
                                                    <td>28-June-2019</td>
                                                    <td>SPAIN</td>
                                                    <td><label class="label label-primary"><a href="/workflow/OpenB/">
                                                                On trip </a></label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-17822 </td>
                                                    <td>Akhshay</td>
                                                    <td>IATA hackathon Spain</td>
                                                     <td>28-June-2019</td>
                                                    <td>SPAIN</td>
                                                    <td><label class="label label-primary"><a href="/workflow/OpenB/">
                                                                On trip </a></label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-17672 </td>
                                                    <td>Godwin</td>
                                                    <td>IATA hackathon Spain</td>
                                                    <td>28-June-2019</td>
                                                    <td>SPAIN</td>
                                                    <td><label class="label label-primary"><a href="/workflow/OpenB/">
                                                                On trip </a></label></td>
                                                </tr>
                                                <tr style = "background-color: cadetblue;">
                                                    <td>A-23456 </td>
                                                    <td>David Federici </td>
                                                    <td>Sun Express Meeting FRA</td>
                                                    <td>24-July-2019</td>
                                                    <td>GERMANY</td>
                                                     <td><label class="label label-success"><a href="/workflow/add/">
                                                                Approved </a></label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-23112 </td>
                                                    <td>Kelwin Kuirachan</td>
                                                    <td>TUI Visit Hanouver</td>
                                                    <td>21-Aug-2019</td>
                                                    <td>GERMANY</td>
                                                    <td><label class="label label-info">Planning</label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-23232 </td>
                                                    <td>Kanu Aravind</td>
                                                    <td>Block Chain Confererce Athens</td>
                                                    <td>12-Aug-2019</td>
                                                    <td>GREECE</td>
                                                    <td><label class="label label-info">Planning</label></td>
                                                </tr>
                                                <tr>
                                                    <td>B-45223 </td>
                                                    <td>Anderson </td>
                                                    <td>RFI Proposal to Expedia</td>
                                                    <td>09-Dec-2019</td>
                                                    <td>SEATLE</td>
                                                    <td><label class="label label-info">Planning</label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right m-r-20">
                                            <a href="#!" class=" b-b-primary text-primary">View all Trips</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                            <!-- STACKED/GROUPED MULTI-BAR CHART start -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Cost Reduction Per Traveller</h5>
                                                        <span>Showing some Average Reduction of Cost per Traveller Per Vendor </span>

                                                    </div>
                                                    <div class="card-block">
                                                        <div id="stackedchart" class="nvd-chart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- STACKED/GROUPED MULTI-BAR CHART Ends -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}