{% extends "base.html" %}
{% load static %}

{% block content %}




<style>
    .category
    {
    height : 34px;
    width : 34px;
    }
</style>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <h4 class="sub-title">Request</h4>
                                    <form action="{% url 'customer_order' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="input-group col-sm-10">
                                                <input type="text" id = "pac-input" class="form-control" placeholder="Location">
                                                <span class="input-group-addon" id="basic-addon3"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <ul class="categories-list" id="category">
                                                            <li value="P">
                                                                <img src="{% static 'open-book.png' %}" class = "category" id="catImg1">
                                                            </li>
                                                            <li value="L">
                                                                <img src="{% static 'botl.png' %}" class = "category" id="catImg2">
                                                            </li>
                                                            <li value="O">
                                                                <img src="{% static 'bananas.png' %}" class = "category" id="catImg3">
                                                            </li>
                                                            <li value="S">
                                                                <img src="{% static 'screw.png' %}" class = "category" id="catImg4">
                                                            </li>
                                                            <li value="G">
                                                                <img src="{% static 'glass.png' %}" class = "category" id="catImg5">
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-block">
                                                        <ul class="categories-list" id="quantity">
                                                            <li value="S">
                                                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                            </li>
                                                            <li value="M">
                                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                            </li>
                                                            <li value="L">
                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                            <textarea rows="5" cols="5" class="form-control" name="comments" placeholder="Comments"></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" name="waste_category"/>
                                        <input type="hidden" name="waste_size"/>
                                        <input type="hidden" name="latitude"/>
                                        <input type="hidden" name="longitude"/>
                                        <input type="hidden" name="place_id"/>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button class="btn btn-success btn-round pull-right">Request</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>

{% endblock %}

{% block extra_js %}
<style>
    .category
    {
    height : 34px;
    width : 34px;
    }
</style>
<script>
    $("#category li").click(function() {
        $(this).css("border","2px solid #45e6a3");
      $("input[name=waste_category]").val($(this).attr("value"));
    });

    $("#quantity li").click(function() {
        $(this).css("border","2px solid #45e6a3");
      $("input[name=waste_size]").val($(this).attr("value"));
    });
</script>
<script>
      function initMap() {
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');


        var autocomplete = new google.maps.places.Autocomplete(input);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            autocomplete.setTypes(types);
          });
        }
      }
    </script>
<script>


$( document ).ready(function() {


$("#pac-input").focusout(function(){
console.log("Inside the Function");
response();
});
});
function response() {
    console.log("Inside the Response Function");
    p_text = $("#pac-input").val();
    console.log(p_text,"Input from the text area");
    var formData = new FormData()
    formData.append('text_body', p_text);
    var url1 = "https://maps.google.com/maps/api/geocode/json?address="
    var url2 = "&key=AIzaSyC_0GFWlKVFi3JY4IluWGBF5FoEmTFyMYw&sessiontoken=1234567890";
    var place = p_text;
    place1 = place.split(' ').join('+');
    var url3 = url1 + place1 + url2
    console.log(url3);
    $.ajax({
        url: url3,
        type: 'POST',
        data: formData,
        contentType: false,
        cache: false,
        processData: false,
        success: function(data, textStatus, jqXHR) {
        console.log("Response from the API", data);
        finalData = data['results'];
        console.log("Final data", finalData);
        finalData1 = finalData['0'];
        console.log("Final data 1", finalData1);
        placeid = finalData1.place_id;
        console.log(placeid,"Finding the needed Data");
        geometry = finalData1['geometry'];
        console.log("geometry ",typeof(geometry));
        id = geometry['location'];
        console.log(id);
        latitude = id['lat'];
        longitude = id['lng'];
        console.log(latitude,longitude);
        $("input[name=latitude]").val(latitude);
        $("input[name=longitude]").val(longitude);
        $("input[name=place_id]").val(placeid);
        },
        error: function(jqXHR, textStatus, errorThrown) {

            console.log("Error due to some technical issues for the response from the NLP Engine")
        }
    });
}
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_0GFWlKVFi3JY4IluWGBF5FoEmTFyMYw&libraries=places&callback=initMap"
        async defer></script>
{% endblock %}