{% load static %}
<div class="row">
      {% for hotel in hotels %}
          <div class="col-xl-6 col-md-12">
                 <div class="card user-card-full {% if 'selected' in hotel %} selected {% endif %}">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-blue user-profile" style="background:url({{hotel.images.0.gallery}})">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">{{hotel.name}}</h6>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>

                                    <div class="row">
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Based on {{hotel.reviews_count}} reviews</p>
                                    </div>
                                    </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Price {{hotel.offers.0.price}} &euro;</p>
                                        <button class="btn btn-primary pull-right">
                                            {% if 'selected' in hotel %} selected {% else %}
                                            select
                                            {% endif %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
    {% endfor %}
  </div>