{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static "images\IBS.png" %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->

    <link rel="stylesheet" type="text/css" href="{% static "files\bootstrap\css\bootstrap.min.css" %}">
  <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\icon\feather\css\feather.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\icon\font-awesome\css\font-awesome.min.css" %}">
  <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\css\style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\sweetalert\css\sweetalert.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\assets\css\jquery.mCustomScrollbar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css\dams.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\jquery-flowchart\jquery.flowchart.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "files\bootstrap-multiselect\css\bootstrap-multiselect.css" %}">


   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

    {% block extra_style %}
    {% endblock %}
</head>

<body class="fix-menu">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    
                        <form class="md-float-material form-material">
                            <div class="text-center">
                                <img alt="logo.png" src="{% static "images\logo_white.png" %}" >
                            </div>
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center">Sign In</h3>
                                        </div>
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="text" name="email" class="form-control" required="" placeholder="Your Email Address">
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="password" name="password" class="form-control" required="" placeholder="Password">
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="row m-t-25 text-left">
                                        <div class="col-12">
                                            <div class="checkbox-fade fade-in-primary d-">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    <span class="text-inverse">Remember me</span>
                                                </label>
                                            </div>
                                            <div class="forgot-phone text-right f-right">
                                                <a href="auth-reset-password.htm" class="text-right f-w-600"> Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                              <a href="/">
                                            <button type="button" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                        </div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->

    <script type="text/javascript" src="{% static "files\jquery\js\jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\jquery-ui\js\jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\popper.js\js\popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\bootstrap\js\bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\jquery-slimscroll\js\jquery.slimscroll.js" %}">
    </script>

    <script type="text/javascript" src="{% static "files\modernizr\js\modernizr.js" %}"></script>
    <script type="text/javascript" src="{% static "files\chart.js\js\Chart.js" %}"></script>
    <script src="{% static "files\assets\pages\widget\amchart\amcharts.js" %}"></script>
    <script src="{% static "files\assets\pages\widget\amchart\serial.js" %}"></script>
    <script src="{% static "files\assets\pages\widget\amchart\light.js" %}"></script>
    <script src="{% static "files\assets\js\jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\assets\js\SmoothScroll.js" %}"></script>
    <script src="{% static "files\assets\js\pcoded.min.js" %}"></script>
    <script src="{% static "files\assets\js\vartical-layout.min.js" %}"></script>
    <script src="{% static "files\bootstrap-multiselect\js\bootstrap-multiselect.js" %}"></script>
    <script type="text/javascript" src="{% static "files\assets\pages\dashboard\custom-dashboard.js" %}"></script>
    <script type="text/javascript" src="{% static "files\assets\js\script.min.js" %}"></script>
    <script type="text/javascript" src="{% static "files\jquery-flowchart\jquery.flowchart.js" %}"></script>
    <script type="text/javascript" src="{% static "files\bower_components\sweetalert\js\sweetalert.min.js" %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

</html>
