{% load static %}

    <div id="hotelModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tableListModelLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" > <i class="fa fa-hotel" ></i> Hotel</h4>
          </div>
          <div class="modal-body">
              <!--<div class="form-group">-->
                <!--<select multiple="true">-->
                  <!--<option>Field 1</option>-->
                  <!--<option>Field 2</option>-->
                  <!--<option>Field 3</option>-->
                  <!--<option>Field 4</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="table-list">

              </div>
          </div>

        </div>
      </div>
    </div>
    <!---->

    <!---- Model popup for table model -->

    <div id="flightModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tableListModelLabel" aria-hidden="true">
     <div class="modal-dialog model-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ><i class="fa fa-plane" ></i> Flight</h4>
          </div>
          <div class="modal-body">
              <!--<div class="form-group">-->
                <!--<select multiple="true">-->
                  <!--<option>Field 1</option>-->
                  <!--<option>Field 2</option>-->
                  <!--<option>Field 3</option>-->
                  <!--<option>Field 4</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="table-list">

              </div>
          </div>

        </div>
      </div>
    </div>
    <!---->

    <!---- Model popup for table model -->

    <div id="cabModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tableListModelLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ><i class="fa fa-car" ></i> Car</h4>
          </div>
          <div class="modal-body">
              <!--<div class="form-group">-->
                <!--<select multiple="true">-->
                  <!--<option>Field 1</option>-->
                  <!--<option>Field 2</option>-->
                  <!--<option>Field 3</option>-->
                  <!--<option>Field 4</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="table-list">

              </div>
          </div>

        </div>
      </div>
    </div>
    <!---->


     <!---- Model popup for Replicate travel model -->

    <div id="repliModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tableListModelLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ><i class="fa fa-car" ></i> Select your Trip Dates and Replicate Trip</h4>
          </div>
          <div class="modal-body">
               <label>Select Date: </label>
                <input type="date">
              <label>Select Date: </label>
                <input type="date">
                 <a href="/workflow/add/">
                                                <button class="btn btn-primary btn-theme-color ">Book Now</button>

                 </a>
              <div class="table-list">

              </div>
          </div>

        </div>
      </div>
    </div>
    <!---->


    <!---- Model popup for Replicate travel model -->


    <div id="perkModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tableListModelLabel" aria-hidden="true">

     <div class="modal-dialog modal-sm col-6-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h2 class="modal-title" >
              <h5 style="color: white;">Eligible for bleisure travel!</h5>
          </div>

            <div class="modal-content" >


  <div id="circle">
    <div id="gift">
      <div id="ribbon"></div>
      <div id="giftbox"></div>
    </div>
  </div>

          <div class="modal-footer">
               <a href="/workflow/add/">
                   <button type="button" class="btn btn-default" >No Pls</button> </a>
              <a href="/workflow/add/"> <button type="button" class="btn btn-primary">Ok, Proceed</button> </a>
      </div>


              </div>




          </div>

              </div>
    </div>

    <!---->



    <!---- Model popup for table model -->

    <div id="confirmModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tableListModelLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ><i class="fa fa-ticket" ></i> To be ticketed</h4>
          </div>
          <div class="modal-body">
              <!--<div class="form-group">-->
                <!--<select multiple="true">-->
                  <!--<option>Field 1</option>-->
                  <!--<option>Field 2</option>-->
                  <!--<option>Field 3</option>-->
                  <!--<option>Field 4</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="table-list">

              </div>
          </div>

        </div>
      </div>
    </div>
    <!---->


<div id="approvalModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="approvalModelLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" > <i class="fa fa fa-check-square-o c-4" ></i> Approval status</h4>
          </div>
          <div class="modal-body">
              <!--<div class="form-group">-->
                <!--<select multiple="true">-->
                  <!--<option>Field 1</option>-->
                  <!--<option>Field 2</option>-->
                  <!--<option>Field 3</option>-->
                  <!--<option>Field 4</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="table-list">
                <h5>Your request is auto approved.</h5>
              </div>
          </div>

        </div>
      </div>
    </div>
    <!---->