{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="resultInner">
<div class="inner-grid keel-grid">
<div class="col-info result-column">
<div class="top-row">
</div>
<div id="neSj-mainInfo" class="mainInfo">
<div id="neSj-info" class="Flights-Results-ResultInfo multiple-legs slimmer-variant">
<ol id="neSj-info-flights" class="flights" aria-label="MISSING STRING [FLIGHT_DETAILS_LEG_SELECT_LIST_LABEL]">
<li class="flight with-gutter ">
<div id="neSj-info-leg-0" class="Flights-Results-LegInfo Flights-Results-LegInfoSleek no-checkbox slimmer-variant result-hovered" data-test-flightleg="0">
<div class="container">
<div class="section stacked-carriers">
<div class="leg-carrier">
<img src="https://content.r9cdn.net/rimg/provider-logos/airlines/v/XQ.png?crop=false&amp;width=108&amp;height=92&amp;fallback=momondo-default2.png&amp;_v=9b3efeed6d9a1e34311a21b7f788a68b1cbfa1bb" alt="SunExpress-Logo">
</div>
</div>
<div class="section times">
<div class="top">
<span class="time-pair"> <span class="depart-time base-time">10:30</span>
</span>
<span class="sep">—</span>
<span class="time-pair">
<span class="arrival-time base-time">18:10</span>
</span>
</div>
<div class="bottom">SunExpress</div>
</div>
<div class="section stops">
<div class="top">
1 Stopp </div>
<div class="bottom">
<span class="js-layover" title="2:25 Std. Aufenthalt in <b>Izmir</b>">ADB</span> </div>
</div>
<div class="section duration">
<div class="top">6:40 Std.</div>
<div class="bottom">
<span>FRA</span>
<span class="sep">‐</span>
<span>AYT</span>
</div>
</div>
<div class="section fees">
</div>
</div>
</div>
</li>
<li class="flight ">
<div id="neSj-info-leg-1" class="Flights-Results-LegInfo Flights-Results-LegInfoSleek no-checkbox slimmer-variant result-hovered" data-test-flightleg="1">
<div class="container">
<div class="section stacked-carriers">
<div class="leg-carrier">
<img src="https://content.r9cdn.net/rimg/provider-logos/airlines/v/OK.png?crop=false&amp;width=108&amp;height=92&amp;fallback=momondo-default2.png&amp;_v=a0bb6e0712fc92d418275a6d4f880dbf01ff5a6a" alt="Czech Airlines-Logo">
</div>
</div>
<div class="section times">
<div class="top">
<span class="time-pair"> <span class="depart-time base-time">23:15</span>
</span>
<span class="sep">—</span>
<span class="time-pair">
<span class="arrival-time base-time">8:40</span>
<sup class="adendum" title="Landung am nächsten Tag">+1</sup>
</span>
</div>
<div class="bottom">Czech Airlines</div>
</div>
<div class="section stops">
<div class="top">
1 Stopp </div>
<div class="bottom">
<span class="js-layover" title="5:45 Std. Aufenthalt in <b>Prag</b>">PRG</span> </div>
</div>
<div class="section duration">
<div class="top">10:25 Std.</div>
<div class="bottom">
<span>AYT</span>
<span class="sep">‐</span>
<span>FRA</span>
</div>
</div>
<div class="section fees">
</div>
</div>
</div>
</li>
</ol>
</div>
</div>
<div id="neSj-extra-info" class="Flights-Results-ExtraFlightInfo Flights-Results-Brands-Momondo-MomondoSlimmerExtraFlightInfo sleek hasSharedHmbRow _F4 _li _mL">
<div class="section hbo _Pj _f3">
<div id="neSj-extra-info-hbo" class="Flights-Results-PromotedBookingLink right small">
<div class="book-direct flightPlusGenericXsell hbo-icon hbo-packages inner-link">
<a href="https://www.momondo.de/s/clickthrough.jsp?ctyp=HighlightedBookingOption&amp;ptyp=F&amp;orig=F..RP..M1&amp;plid=5225793&amp;pid=opodo_PHBOAD_de_DE&amp;prv=opodo_PHBOAD_de_DE&amp;srch=ESFCQrUZ_3&amp;ploc=de_DE&amp;atype=HBO&amp;cpnid=7038051&amp;xpExt=&amp;aidExt=&amp;lid=opodo_PHBOAD_de_DE-ESFCQrUZ_3&amp;qorig=Airport:FRA&amp;octid=&amp;qdest=Airport:AYT&amp;qstart=1563768000000&amp;qend=1564372800000&amp;qtravelers=1&amp;qrooms=0&amp;qow=false&amp;qfcc=e&amp;qdctid=1669&amp;qdac=AYT&amp;qshour=-1&amp;qehour=-1&amp;qns=false&amp;qnearby=0&amp;qnearbyo=false&amp;qnearbyd=false&amp;pj=KtFiPMr$VVXk$rBhWLGeog==&amp;ah=l7zTmQm$EwlRySTKPIbhIFPMnQZFzU9O22p2yiYVBzw&amp;resid=6fbc33623214d7b07ad856ab6ceee6b7&amp;bookid=E-1f609ae31b2&amp;seekProv=OPODO&amp;trueProv=OPODO&amp;fid=travel%2F%3FlandingPageType%3DPASSENGER%26locale%3Dde_DE%26mktportal%3Dkayak-HBO%26searchId%3D99840262883%26searchMainProductTypeName%3DFLIGHT%26testToken%3D1%252355875536249-2%25232761-3%252332749-4%25238522-5%252344843667546-6%25237757-7%2523108487-8%252331639269848-9%252362019274850-10%25238491854678-11%252344861005246-12%252322540412385-13%252317546346147-14%252378838980436-15%252385585008329-16%252347109002674-17%252347125779092-18%252349587739391-19%252345696123791-20%252386160352463-21%252356089500432-22%252355777647315%26testTokenDate%3D2019-06-22T14%253A59%253A13%26utm_campaign%3DFRA-AYT%26utm_content%3Dmeta-de%26utm_medium%3Dmetasearch%26utm_source%3Dkayakgroup-de%26utm_term%3Dflight%26deeplink%3D%2Fresults%2Fret%3D2019-07-29%3Binfants%3D0%3Bchildren%3D0%3Badults%3D1%3Bdirect%3Dfalse%3Bmainairports%3Dfalse%3Btype%3DR%3Bclass%3DTOURIST%3Bfrom.iata%3DFRA%3Bto.iata%3DAYT%3Bdep%3D2019-07-22%3Bresident%3Dfalse%3Bcollectionmethod%3D25%26fareItineraryKey%3D4%2C1A%2CTF%26segmentKey0%3D1%2CXQ911%2CXQ9492%26segmentKey1%3D0%2COK4437%2COK534&amp;rank=-1" target="_blank" class="book-direct-text">
Mit Opodo Hotel hinzufügen </a>
</div>
</div>
</div>
<div class="section hmb slimmer-variant">
<div id="neSj-extra-info-hmb" class="Common-Booking-HorizontalMultiBook shared-row hasDropdown">
<ul id="neSj-extra-info-hmb-list" class="option-list keel-grid right " aria-owns="neSj-extra-info-hmb-dropdown-list">
<li class="option-item col-option">
<div id="neSj-extra-info-hmb-tE-175663672d2" class="Common-Booking-MultiBookProvider good-provider Theme-list-item" aria-hidden="false" data-test-price="356&nbsp;EUR">
<a href="/book/flight?code=ESFCQrUZ_3.ZheJHZqHLmzKJvcpKN_waA.40247.6fbc33623214d7b07ad856ab6ceee6b7&amp;h=891185bce748&amp;cookieOverrides=Kd0NNQ5arVQQU1tGa-u-5i2NvWgXYBsBR0ivemyuHNRG6Iqw3ZGXP0EJhm0Z0svHJUhtHb0FZK08kXPF1GJRG5Hscs8NiktN-WyXvey9vFI&amp;sub=E-175663672d2&amp;payment=0.00:EUR:SB:Sofort%C3%BCberweisung:true" target="_blank" id="neSj-extra-info-hmb-tE-175663672d2-booking-link" class="booking-link" role="option" tabindex="0" aria-label="356&nbsp;EUR bei Travel2be Preis bei Zahlung mit Sofortüberweisung">
<span class="price option-text">
<span class="display-price">
356&nbsp;EUR </span>
</span>
<span class="providerName option-text">
Travel2be
</span>
</a>
</div>
</li>
<div class="dropdown col-dropdown Theme-list-item-dropdown more-options-link" id="neSj-extra-info-hmb-more-options-link">
<div id="neSj-extra-info-hmb-more-options-link" class="Flights-Results-DetailsLink " aria-labelledby="neSj-extra-info-hmb-more-options-link-open">
<a id="neSj-extra-info-hmb-more-options-link-toggleMore" href="javascript:void(0)" class="detailsToggle" role="button" aria-pressed="false">
<span class="label">+5 mehr</span>
</a>
</div>
</div>
</ul>
</div>
</div>
</div>
</div>
<div id="neSj-priceSection" class="col-price result-column">
<div id="neSj-price" class="Flights-Results-FlightPriceSection Flights-Results-Brands-Momondo-MomondoFlightPriceSection sleek slimmer-variant clickableFlightPriceSection">
<div class="top-messages">
<div class="message-row">
<div id="neSj-price-flight-fee-icons" class="Flights-Results-Brands-Momondo-MomondoFlightFeeIcons _kM _cg _Qu _cf _lO _lR _bg _bj _b01 _bm _bp _dT _b00 _ds _bU _v _ga _Qj _mK _bcQ">
<div id="neSj-price-flight-fee-icons-checkedBags" class="_bd _fx _fw _bZ1 _eO _x _FB _FA _k _eR _m _N _bZ4">
<div class="_k _O _eR _eO">
<svg class="_z" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><use xlink:href="#common-icon-brands-momondo-checked-bag-empty_z"></use></svg> </div>
</div>
<div id="neSj-price-flight-fee-icons-payment" class="_bd _fx _fw _bZ1 _eO _x _FB _FA _k _eR _m _N">
<div class="_k _O _eO _eR">
<svg class="_e _LU" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><use xlink:href="#common-icon-brands-momondo-credit-card_e_LU"></use></svg> </div>
</div>
</div>
<div class="right-section">
<div id="neSj-price-save" class="Common-Trips-ResultItemSaveToTrips Add-To-Trip ">
<a href="javascript:void(0)" id="neSj-price-save-save" class="layer-content " aria-label="Zur Reise hinzufügen" aria-pressed="false" role="button">
<div class="icon icon-filled">
<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><path d="M145.5 20c-23.6-1-38.6 15.3-45.5 25.3C93.1 35.3 78.1 19 54.5 20C30 21.1 10 41.8 10 66c0 19.3 11.1 41.1 32.9 64.9c17.1 18.8 33.2 34.2 47.8 45.7c5.5 4.4 13.1 4.3 18.6 0c14.4-11.3 30.1-26.3 47.8-45.7c21.8-23.9 32.9-45.7 32.9-65c0-24.1-20-44.8-44.5-45.9z"></path></svg> </div>
<div class="icon icon-outline">
<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><path d="M90.7 176.6C76.1 165 60 149.7 42.9 130.9C21.1 107.1 10 85.3 10 66c0-24.2 20-44.9 44.5-46c23.6-1 38.6 15.3 45.5 25.3c6.9-10 21.9-26.3 45.5-25.3C170 21.1 190 41.8 190 66c0 19.2-11.1 41.1-32.9 65c-17.7 19.4-33.4 34.3-47.8 45.7c-5.5 4.2-13.2 4.3-18.6-.1zM56.5 30C36.7 30 20 46.4 20 66c0 16.5 10.5 36.6 30.3 58.1c16.8 18.4 32.4 33.4 46.6 44.7c1.8 1.4 4.3 1.4 6.2 0c14-11 29.2-25.6 46.6-44.5c20.1-22 30.3-41.6 30.3-58.2c0-19-15.7-35.1-34.9-36c-26.7-1.2-40.4 26.9-40.6 27.2c-1.8 3.8-7.2 3.8-9 0c-.1-.4-13.5-27.3-39-27.3z"></path></svg> </div>
<span id="neSj-price-save-title" class="title saveLinkText">
Zur Reise hinzufügen
</span>
</a>
</div>
</div>
</div>
</div>
<div id="neSj-price-bookingSection" class="booking">
<div class="multibook-dropdown">
<div id="dK-C-mb" class="Common-Booking-VerticalMultiBookDropdown Flights-Booking-FlightVerticalMultiBookDropdown align-center slimmer-variant">
<div id="dK-C-mb-above-button" class="above-button">
<div id="dK-C-mb-aE-11c79b8b55e" class="Common-Booking-MultiBookProvider featured-provider cheapest Theme-featured multi-row" aria-hidden="false" data-test-price="355&nbsp;EUR">
<a href="/book/flight?code=ESFCQrUZ_3.ZpbE3-UY8hoNUvH8T-y68A.40127.6fbc33623214d7b07ad856ab6ceee6b7&amp;h=e07983c2a67e&amp;cookieOverrides=Kd0NNQ5arVQQU1tGa-u-5i2NvWgXYBsBR0ivemyuHNRG6Iqw3ZGXP0EJhm0Z0svHJUhtHb0FZK08kXPF1GJRG5Hscs8NiktN-WyXvey9vFI&amp;sub=E-11c79b8b55e&amp;payment=0.00:EUR:VA:Visa:true" target="_blank" id="dK-C-mb-aE-11c79b8b55e-booking-link" class="booking-link " role="option" tabindex="0" aria-label="355&nbsp;EUR bei Expedia">
<span class="price option-text">
<span class="display-price">
355&nbsp;EUR </span>
</span>
<span class="providerName option-text">
Expedia
</span>
</a>
</div>
</div>
<div id="dK-C-mb-featuredFare">
<div id="dK-C-mb-dropdown-grid" class="keel-grid multibookGrid" role="listbox">
<div class="col col-best ">
<div id="dK-C-mb-best" class="Common-Widgets-Button-ButtonDeprecated Common-Widgets-Button-Button Button-Gradient ui-button size-m bookingButton " type="button" aria-hidden="false" role="button">
<div id="dK-C-mb-bE-11c79b8b55e" class="Common-Booking-MultiBookProvider featured-provider cheapest Theme-button-small" aria-hidden="false" data-test-featured-booking="" data-test-price="355&nbsp;EUR">
<a href="/book/flight?code=ESFCQrUZ_3.ZpbE3-UY8hoNUvH8T-y68A.40127.6fbc33623214d7b07ad856ab6ceee6b7&amp;h=e07983c2a67e&amp;cookieOverrides=Kd0NNQ5arVQQU1tGa-u-5i2NvWgXYBsBR0ivemyuHNRG6Iqw3ZGXP0EJhm0Z0svHJUhtHb0FZK08kXPF1GJRG5Hscs8NiktN-WyXvey9vFI&amp;sub=E-11c79b8b55e&amp;payment=0.00:EUR:VA:Visa:true" target="_blank" id="dK-C-mb-bE-11c79b8b55e-booking-link" class="booking-link custom-text" role="button" tabindex="0" aria-label="Zum Angebot">
<span class="custom-text">
Zum Angebot
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="fare-family">
</div>
<div class="interaction-items">
<div class="interaction-items-wrapper">
<div id="RyXd" class="Common-Results-ResultInteractionItems no-labels Theme-grey">
<div class="share-column column">
<a href="javascript:void(0)" id="RyXd-share" class="Common-Results-ShareLink Icon-default " aria-label="Teilen" aria-haspopup="true" role="button">
<div id="RyXd-share-icon" class="shareIcon">
<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g transform="translate(.49 .49)"><ellipse cx="13.935" cy="3.036" rx="3.065" ry="3.036"></ellipse><ellipse cx="3.065" cy="9.107" rx="3.065" ry="3.036"></ellipse><ellipse cx="13.935" cy="13.964" rx="3.065" ry="3.036"></ellipse><path d="M4.94 6.987l6.567-3.492.749 1.408-6.568 3.492zM5.312 10.97l6.568 3.492.748-1.408L6.06 9.562z"></path></g></svg> </div>
</a>
</div>
<div class="watch-column column">
<div id="RyXd-save" class="Common-Trips-ResultItemSaveToTrips Add-To-Trip ">
<a href="javascript:void(0)" id="RyXd-save-save" class="layer-content " aria-label="Merken" aria-pressed="false" role="button">
<div class="icon icon-filled">
<svg viewBox="0 0 30 46" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M0 2.005C0 .9.898 0 1.992 0h26.016A2 2 0 0 1 30 2.006V46l-15-9-15 9V2.005z"></path></svg> </div>
<div class="icon icon-outline">
<svg viewBox="0 0 30 46" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M26 38.935V4H4v34.935l11-6.6 11 6.6zM0 2.005C0 .9.898 0 1.992 0h26.016A2 2 0 0 1 30 2.006V46l-15-9-15 9V2.006z"></path></svg> </div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
