{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
          <div class="main-body">
              <div class="page-wrapper">
                  <div class="page-body">
                      {% for provider in providers %}
                        <div class="row">
                              <div class="col-sm-12 col-md-12">
                                     <div class="card user-card-full ">
                                        <div class="row m-l-0 m-r-0">
                                            <div class="col-sm-2 user-profile" >
                                                <div class="card-block text-center text-white">
                                                    <div class="1">
                                                <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "images\avatar.png" %}" alt="Generic placeholder image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="card-block">
                                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">{{provider.get_full_name}}
                                                        <div class="col-sm-6 rating">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </h6>
                                                    <div class="row">
                                               <div class="col-sm-12">
                                                            <span class="m-b-10 f-w-600">{{provider.address}}</span>
                                                            {% if provider.phoneno %}
                                                            <br>
                                                            <span class="m-b-10 f-w-600">Phone no: {{provider.phoneno}}</span>
                                                            {% endif %}
                                                             <span class="m-b-10 f-w-100 distance pull-right">
                                                                 <i class="fa fa-map-marker" aria-hidden="true" style="color:orange"></i>
                                                                 {{provider.duration}}
                                                                 <span class="f-10">({{provider.distance}})</span> away
                                                             </span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                       <form action="{% url 'provider_list' pk %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="provider" value="{{ provider.id }}"/>
                                                            <button class="btn btn-primary pull-right">
                                                                Request
                                                            </button>
                                                                </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                        </div>
                      {% endfor %}
                        </div>
                    </div>
                </div>
          </div>
  </div>
{% endblock %}