{% extends "provider_base.html" %}
{% load static %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
          <div class="main-body">
              <div class="page-wrapper">
                  <div class="page-body">
                      {% for order in orders%}
                        <div class="row">
                              <div class="col-sm-12 col-md-12">
                                     <div class="card user-card-full ">
                                        <div class="row m-l-0 m-r-0">
                                            <div class="col-sm-2 user-profile" >
                                                <div class="card-block text-center text-white">
                                                    <div class="1">
                                                <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "images\avatar.png" %}" alt="Generic placeholder image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="card-block">
                                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">{{order.user.get_full_name}}
                                                        <div class="col-sm-6 rating">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </h6>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <span class="m-b-10 f-w-600">{{order.user.address}}</span>
                                                            {% if order.user.phoneno %}
                                                            <br>
                                                            <span class="m-b-10 f-w-600">Phone no: {{order.user.phoneno}}</span>
                                                            {% endif %}
                                                             <span class="m-b-10 f-w-100 distance pull-right">
                                                                 <i class="fa fa-map-marker" aria-hidden="true" style="color:orange"></i>
                                                                 {{order.duration}}
                                                                 <span class="f-10">({{order.distance}})</span> away
                                                             </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <div class="card">
                                                                <div class="card-block">
                                                                    <ul class="categories-list" id="category">
                                                                        {% if order.waste_category == "P" %}
                                                                        <li value="P">
                                                                            <img src="{% static 'open-book.png' %}" class = "category" id="catImg1">
                                                                        </li>
                                                                        {% endif %}
                                                                        {% if order.waste_category == "L" %}
                                                                        <li value="L">
                                                                            <img src="{% static 'botl.png' %}" class = "category" id="catImg2">
                                                                        </li>
                                                                        {% endif %}
                                                                        {% if order.waste_category == "O" %}
                                                                        <li value="O">
                                                                            <img src="{% static 'bananas.png' %}" class = "category" id="catImg3">
                                                                        </li>
                                                                        {% endif %}
                                                                        {% if order.waste_category == "S" %}
                                                                        <li value="S">
                                                                            <img src="{% static 'screw.png' %}" class = "category" id="catImg4">
                                                                        </li>
                                                                        {% endif %}
                                                                        {% if order.waste_category == "G" %}
                                                                        <li value="G">
                                                                            <img src="{% static 'glass.png' %}" class = "category" id="catImg5">
                                                                        </li>
                                                                        {% endif %}
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                            <div class="card">
                                                                <div class="card-block">
                                                                    <ul class="categories-list" id="quantity">
                                                                        {% if order.waste_size == "S" %}
                                                                        <li value="S">
                                                                            <i class="fa fa-shopping-bag category" aria-hidden="true"></i>
                                                                        </li>
                                                                        {% endif %}
                                                                        {% if order.waste_size == "M" %}
                                                                        <li value="M">
                                                                            <i class="fa fa-shopping-basket category" aria-hidden="true"></i>
                                                                        </li>
                                                                        {% endif %}
                                                                        {% if order.waste_size == "L" %}
                                                                        <li value="L">
                                                                            <i class="fa fa-shopping-cart category" aria-hidden="true"></i>
                                                                        </li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button data-id="{{order.id}}" data-action="R" class="btn btn-danger pull-right m-l-10">
                                                                Reject
                                                            </button>
                                                            <button data-id="{{order.id}}" data-action="A" class="btn btn-primary pull-right">
                                                                Accept
                                                            </button>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                        </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<style>
    .category
    {
    height : 25px;
    width : 25px;
    }
</style>
<script>
$(function(){
      $("button").on('click', function () {
          var status = $(this).attr('data-action');
          var req_id = $(this).attr('data-id');
          $.ajax({
                url: '/provider/action/',
                data: {"request_id": req_id, "status": status},
                type: 'POST',
                success: function (data) {
                    swal("Congrats!", "You have accpeted the request.", "success");
                    location.reload();
                },
                error: function (data) {
                    swal("Failed!", "There is some issue in processing your request", "success");
                }
              });
          });
       });
</script>
{% endblock %}