<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<form name="myform" action="{% url 'customer_order' %}" method="POST">
    {% csrf_token %}
    <div align="center">
        <select name="waste_category">
            <option value="O">Organic Waste</option>
            <option value="P">Paper waste</option>
        </select>
    </div>

    <input type="text" name="comments" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>