{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
          <div class="main-body">
              <div class="page-wrapper">
                  <div class="page-body">

                      {% for order in orders %}
                        <div class="row">
                              <div class="col-sm-12 col-md-12">
                                     <div class="card user-card-full ">
                                        <div class="row m-l-0 m-r-0">
                                            <div class="col-sm-2 user-profile" >
                                                <div class="card-block text-center text-white">
                                                    <div class="1">
                                                        {% if order.waste_category == "P" %}
                                                        <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "open-book.png" %}" alt="Generic placeholder image">

                                                        {% elif order.waste_category == "L"%}
                                                        <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "botl.png" %}" alt="Generic placeholder image">

                                                        {% elif order.waste_category == "O"%}
                                                        <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "bananas.png" %}" alt="Generic placeholder image">

                                                        {% elif order.waste_category == "S"%}
                                                        <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "screw.png" %}" alt="Generic placeholder image">

                                                        {% elif order.waste_category == "G"%}
                                                        <img class="d-flex align-self-center img-radius" style="width:75px;" src="{% static "glass.png" %}" alt="Generic placeholder image">

                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="card-block">
                                                    <h6 class="m-b-20 p-b-2 b-b-default f-w-600">{{ order.provider.get_username |title }}
                                                        <div class="col-sm-6 rating">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </h6>
                                                    <div class="row">
                                                        {% if order.provider %}
                                                        <div class="col-sm-12">
                                                            <span class="m-b-10 f-w-600">
                                                                {% if order.waste_size == "S" %}
                                                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                                {% elif order.waste_size == "M" %}
                                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                                {% elif order.waste_size == "L" %}
                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                {% endif %}

                                                                <!--Waster Size : order.provider-->
                                                            </span>
                                                            <br>
                                                            <span class="m-b-10 f-w-600">Phone no: {{ order.provider.phoneno }}</span>
                                                             <span class="m-b-10 f-w-100 distance">
                                                                 <i class="fa fa-map-marker" aria-hidden="true" style="color:orange"></i>
                                                                 10 km away</span>
                                                        </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <i class="btn btn-primary pull-right">
                                                                {{order.get_request_status_display}}
                                                            </i>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                        </div>
                      {% endfor %}
                        </div>
                    </div>
                </div>
          </div>
  </div>
{% endblock %}
