{% extends "base.html" %}
{% load static %}
{% block extra_style %}
  <link rel="stylesheet" type="text/css" href="{% static "files\bower_components\datatables.net-bs4\css\dataTables.bootstrap4.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "files\assets\pages\data-table\css\buttons.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "files\bower_components\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "files\assets\pages\data-table\extensions\responsive\css\responsive.dataTables.css" %}">
{% endblock %}
{% block content %}
<div class="pcoded-content">
      <div class="pcoded-inner-content">
          <div class="main-body">
              <div class="page-wrapper">
                  <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Schema</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="feather icon-maximize full-card"></i></li>
                                    <li><i class="feather icon-minus minimize-card"></i></li>
                                    <li><i class="feather icon-trash-2 close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <div class="dt-responsive table-responsive">
                                    <table id="res-config" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Last name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for schema in schema_list %}
                                            <tr>
                                                <td>{{schema.name}}</td>
                                                <td>Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
</div>

{% endblock %}
