.tool-box {
    border: 1px solid rgb(224, 221, 221);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #ddd;
    margin-bottom: 10px;
}

.draw-board, .price-board{
  border: 1px #f3f1f1 ;
  min-height: 600px;
  background: #f3f1f1;
}
.price-board {
    background: #fbfafa;
    border: 1px solid rgb(232, 229, 229);
    background-color: white;
}

.draw-board-inner, .price-board-inner{
 width:100%;
 height:100%;
}
.action-type, .tool_delete {
    width: 55px;
    height: 55px;
    background: #fff;
    box-shadow: -1px 4px 4px 1px #ddd;
    border-radius: 27px;
    position: relative;
    z-index: 10;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 23px;
}
.tool-item{
  margin: 15px auto;
  font-size: 13px;
  position:relative;
  top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}
#myFileInput{
  display: none;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.add-schema {
    position: absolute;
    top: 50%;
    left: 46%;
    font-size: 18px;
}
.del-opt{
    position: absolute;
    top: -8px;
    right: 11px;
    color: #dc7f3e;
    cursor:pointer;
}

.modal-lg {
    width: 1300px;
    max-width: 1300px;
    height: 600px;
    display: block
}
.model-md{
    width: 900px !important;
    max-width: 900px !important;
    height: 600px;
     display: block
}
.table-list {
    width: 100%
    height: auto;
    display: block
}

.fa-scatter-chart {
    background: url(../images/scatter.png);
    width: 15px;
    height: 15px;
    background-size: contain;
}

.modal-header{
  padding: 10px;
  background: #404E67;
}

.modal-title{
    font-size: 16px;
    color: #ffffff;

}

.close {
    color: #f11616;
    text-shadow: 0 1px 0 #0a0101;
}

.btn {
    font-size: 12px;
    padding: 5px 12px;
}

.modal {
    z-index: 10000;
 }

.select2-container--open{
  z-index: 10000;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice{

    background-color: #01a9ac;
    border: 1px solid #01a9ac;
}
.btn-theme-color{
    #background: #FE8A7D !important;
}
.user-profile {
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.m-t-n-10{
    margin-top: -10px;
}
.text-c-lite-yellow{
    color:#e4ca8f !important;
}
.text-c-lite-orenge{
    color:#f59a96 !important;
}

/************  cart *************/
.minicart{
	background:url(../images/sprite.png);
	background-position: -156px 11px;
	background-repeat:no-repeat;
	width: 40px;
	height: 50px;
	padding-right: 32px;
}


/*-----------------------------------
	Breadcrumb
-----------------------------------*/

.breadcrumb > .active a{
	color: #468595;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#b3d4dc;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.breadcrumb{
	margin-bottom: 100px;
	background-color: #ffffff;
}

.breadcrumbBox{
	background-color: #ffffff;
	height: 100px;
	margin-bottom: 100px;
	padding-top: 32px;
}

/*-----------------------------------
	Main
-----------------------------------*/

.container.text-center{
	padding: 0 32px;
}

/*-----------------------------------
	Logo and description
----------------------------------- */



.bigcart{
	background:url(../images/sprite.png);
	background-position: 0px 11px;
	background-repeat:no-repeat;
	width: 155px;
	height: 120px;
	margin:0 0 40px 60px;
}


/*-----------------------------------
	Cart items list
-----------------------------------*/


/* Column Captions */

.columnCaptions{
	color: #7e93a7;
	font-size:12px;
	text-transform: uppercase;
	padding: 0;
	box-shadow: 0 0 0;
	background-color: #f2f6f9;
}

.columnCaptions span:first-child{
	padding-left:8px;
}

.columnCaptions span{
	padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
	float: right;
	padding-right: 72px;
}


/* Items */

.itemName{
	color: #727578;
	font-size :16px;
	font-weight: bold;
	float: left;
	padding-left:25px;
}


.quantity{
	color: #4ea6bc;
	font-size :18px;
	font-weight: bold;
	float : left;
	width: 42px;
	padding-left: 7px;
}


.popbtn{
	background-color: #e6edf3;
	margin-left: 25px;
	height: 63px;
	width: 40px;
	padding: 32px 0 0 14px !important;
	float: right;
	cursor: pointer;
}

.arrow{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #858e97;
}

.price{
	color: #524c61;
	font-size :18px;
	font-weight: bold;
	float: right;
}
.price p {
    font-weight: bold;
    font-size: 18px;
}

/* Totals */

.totals{
	background-color: #f2f6f9;
}

.totals span{
	padding: 40px 15px 40px 0;
}

.totals .price{
	float: left;
}

.totals .itemName{
	margin-top: 1px;
}

.totals .order{
	float: right;
	padding: 0;
	margin-top: 40px;
	padding-left: 5px;
	cursor: pointer;
}

.order a{
	background-color: #f08573;
	color: #fbfffa;
	font-weight: bold;
	border-radius: 2px;
	padding: 20px 30px;
}


/*-----------------------------------
	Media Queries
----------------------------------- */

.card-box {
    box-shadow: 1px 1px 1px 1px #f3f3f3;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #f1eded;
    border-radius: 5px;
}
.c-1{
    color: #c7505e;
}
.c-2{
    color: #a161e6;
}
.c-3{
    color: #96410f;
}
.c-4{
    color: #f5780d;
}
.c-5{
    color: #404e67;
}
.c-6{
    color: #007bff;
}
.c-7{
    color: #b877c3;
}
.c-8 {
    color: #c51313;
}
.c-9 {
    color: red;
}


.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: red;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: black;	}
}

.circle-ripple {
  background-color: #35ffc3;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  animation: ripple 0.7s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color, 0.3),
                0 0 0 1em rgba($color, 0.3),
                0 0 0 3em rgba($color, 0.3),
                0 0 0 5em rgba($color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba($color, 0.3),
                0 0 0 3em rgba($color, 0.3),
                0 0 0 5em rgba($color, 0.3),
                0 0 0 8em rgba($color, 0);
  }
}




@mixin rings($duration, $delay) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}

.request-loader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);

  span {
    position: relative;
    font-size: 72px;
    top: 5px;
    left: -5px;
  }

  &::after {
    @include rings(3s, 0s);
  }

  &::before {
    @include rings(3s, 0.5s);
  }
}


@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }

  to {
    opacity: 0;
    transform: scale3d(2,2,1);
  }
}
.flowchart-operator .flowchart-operator-title {
    /* width: 41%; */
    padding: 5px;
    /* font-weight: bold; */
    /* box-sizing: border-box; */
    #border-bottom: 1px;
    solid #DDDDDD: ;
    #background: #F0F0F0;
    height: 100%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    cursor: move;
    margin: 9px auto;
}

.flowchart-operator {
    position: absolute;
    width: 100px;
    height: 100px !important;
    background: #fff;
    box-shadow: -1px 4px 4px 1px #ddd;
    pointer-events: initial;
    border-radius: 45px;
}


@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
body{
  background-color:lightgrey;
}
#circle{
 width: 197px;
    height: 197px;
    background-color: #FFC847;
    border-radius: 214px;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
#circle:after{
  content:"";
  display:block;
  border:7px dashed white;
  width:200px;
  height:200px;
  border-radius:200px;
  animation: spin 30s linear infinite;
}
#circle:hover{
  background-image:radial-gradient(#FFED85, #FFC847 70%);
}
#gift{
  position:absolute;
  top:0;right:0;left:0;bottom:0;
  margin:auto;
  width:100px;
  height:125px;
}
#ribbon{
  position:relative;
  width:60px;
  height:60px;
  transform:rotate(45deg);
  margin:auto;
  margin-bottom:-38px;
  border-radius:0 8px 0 8px;
}
#ribbon:before{
  content:"";
  height:24px;
  width:100%;
  background-color:#F04D4D;
  display:block;
  position:absolute;
  top:18px;
  box-shadow:0 0 1px rgba(0,0,0,0.4);
  border-radius:inherit;
}
#ribbon:after{
  content:"";
  height:100%;
  width:24px;
  background-color:#F04D4D;
  display:block;
  margin:auto;
  box-shadow:0 0 1px rgba(0,0,0,0.4);
  border-radius:inherit;
}
#giftbox{
  position:relative;
  margin:auto;
  width:100px;
  height:100px;
  background-color:white;
  border-radius:2px;
  box-shadow:0 0 1px rgba(0,0,0,0.4);
  overflow:hidden;
}
#giftbox:before{
  content:"";
  height:24%;
  width:100%;
  background-color:#F04D4D;
  display:block;
  position:absolute;
  top:38%;
  box-shadow:inherit;
}
#giftbox:after{
  content:"";
  height:100%;
  width:24%;
  background-color:#F04D4D;
  display:block;
  margin:auto;
  box-shadow:inherit;
}




.checked{
    color:gold;
}
.selected{
    box-shadow:1px 1px 13px 4px #436b17;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.flight-route h6,.flight-route .leg-info {

display: inline-block;

}

.leg-info {
    height: 2px;
    width: 82%;
    background-color: #817b8f;
    margin: .375rem auto;
    padding: 0;
    position: relative;
    border-radius: .375rem;
    display: block;
    text-align: center;
    line-height: 0;
        vertical-align: bottom;
}
.leg1 {
    text-align: center;
}
.ancillaries{

}
.ancillaries li{
    display: inline-block;
}
.flight-img{
    width:15px;
}
.divider{
    border-left: 2px dashed #f9f6f6;
}
.ext-seat ,.ext-bag{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
}
.ancillaries .fa{
    font-size: 18px !important;
}

.time{
    width: 100%;
    float: left;
    font-size: 14px;

}

.duration{
    font-size:12px;
}

.box {
    float: right;
    padding: 12px;
    margin-right: 6px;
}
.toggle-off {
    background: #bdb3b3;
    padding: 5px;
    border: 1px solid #9a9898;
}
.toggle-off.btn {
    padding-left: 8px;
    padding-top: 8px;
}
.alert-warning {
    display: none !important;
}
.showit,.circle-ripple {
    display: block   !important;
}

.categories-list{

}
.categories-list li {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #dfdede;
    padding: 10px;
    border-radius: 5px;
}
.categories-list li i {
    font-size: 32px;
    cursor pointer;
}
.user-card-full {
    margin-bottom: 5px !important;
}
.rating{
    float: right;
}
.distance{
    color:#333;
}